.project-section{
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    margin-top: 1rem;
    padding-top: 5px;
    height: 100%;
}
.project-section .container{
    position: relative;
}
.page-section-header{
    font-size: var(--page-font-size);
    font-weight: var(--header-font-weight);
    color:var(--title-color);
    text-transform: capitalize;
    margin-bottom: 1.3rem;
}
.filter_project_section{
    margin-bottom: 1rem;
}
.project_filter_row{
    width: 100%;
    border-top: var(--box-border);
    border-bottom: var(--box-border);
    align-items: center;
    justify-content: space-between;
}
.table-filters .page-row{
    align-items: center;
    padding: 9px;
}
.table_filter_col{
    display: flex;
    padding: 0 20px;
    align-items: center;
    border-right: var(--box-border);
    color: #aaa;
    height: 30px;
}
.table_filter_col:first-child{
    padding-left: 0;
}
.table_filter_col:last-child{
    border-right: 0;
}
.table-filters form{
    position: relative;
}
.table-filters form i{
    position: absolute;
    top: 7;
    font-size: 15px;
    left: 10px;
}
.table-filters form input{
    padding:8px 6px 6px 35px;
    font-size: var(--subheader-font-size);
    width: 80px;
    border: none;
}
.table_filter_col i{
    font-size: 15px;
}
.table_filter_col p{
    font-size: var(--subheader-font-size);
    margin-left: 10px;
}
.peron_filter{
    position: relative;
    cursor: pointer;
}
.person_filter_box{
    position: absolute;
    transition: all 2s;
    top: 40px;
    left: 0;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 250px;
    z-index: 3;
    overflow: hidden;   
}
.filter_person_wrapper{
    padding: 10px 20px;
}
.person_filter_box h6{
    color: var(--subheader-font-size);
    font-weight: var(--header-font-weight);
    font-size: var(--subheader-font-size);
    margin-bottom: 15px;
}
.person_filter_box p{
    cursor: pointer;
    margin-left: 0;
    font-size: 12px;
    color: #aaa;
}
.project_members span{
    border-radius: 100%;
    padding:8px 12px;
    font-size: 13px;
    text-transform: uppercase;
    color: var(--blue-color);
    border: 2px solid #fff;
    background-color: var(--light-background-color);
    margin-left: -8px;
}
.project_members span:first-child{
    margin-left: 0;
}
.member_letter{
    position: relative;
    z-index: 2;
  
}
.project_create_table_invite{
    display: flex;
    align-items: center;
}
.invite_btn{
    margin-left: 10px;
    position: relative;
}
.invite_btn p{
    display: flex;
    align-items: center;
    color: #bbb;
    font-size: var(--subheader-font-size);
    align-items: center;
    cursor: pointer;
}
.invite_btn i{
    color: #bbb;
    margin-left: 3px;
    font-size: 16px;
}
.invite_members{
    position: absolute;
    transition: all 2s;
    right: 0;
    width:300px;
    top: 45px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 6;
    background-color: #fff;
    overflow: hidden;
}
.member_invite_wrapper{
    padding: 20px;
}
.invite_members h5, .invite_members h6{
    font-size: 14px;
    font-weight: var(--header-font-weight);
    color: var(--title-color);
    margin-bottom: 1rem;
}
.invite_members h6{
    font-size: 12px;
    margin-bottom: 10px;
}
.invite_members p{
    font-size: 12px;
}
.invite_members input[type=text]{
    width: 70%;
    padding: 8px 8px;
    border: var(--box-border);
    font-size: 12px;

}
.invite_members input[type=text]::placeholder{
    color: #ddd;
}
.invite_members input[type=submit]{
    width: 24%;
    padding:9px 8px;
    color: var(--blue-color);
    border: none;
    text-transform: capitalize;
    background-color: var(--light-background-color);
}
.project_create_table_invite button{
    padding: 8px 8px;
    width: 140px;
    border-radius: var(--round-border-radius);
    border: none;
    margin-left: 30px;
    background-color: var(--darkblue-background-color);
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}
.project_invite button:hover{
    background-color: inherit;
    border: 1px solid var(--blue-color);
    color: var(--blue-color);
}
.project_invite button i{
    margin-right: 6px;
    font-size: 16px;
}
#table_title{
    font-size: 14px;
    color: var(--title-color);
    font-weight: var(--header-font-weight);
    text-transform: capitalize;
}
.project_table{
    width: 100%;
    border: var(--box-border);

    border-radius: 10px;
}
.project_table .page-row{
    justify-content: space-between;
    border-bottom: var(--box-border);
}
.col_name_row{
    position: relative;
}
.project_table  .page-row:last-child{
    border-bottom: none;
}
.field_name{
    text-align: center;
    width: 16%;
    font-size: 14px;
    font-weight: var(--header-font-weight);
    color: var(--title-color);
    border-right: var(--box-border);
    text-transform: capitalize;
    line-height: 40px;
    padding: 0 10px;
}
.field_name input{
    width: 100%;
    position: relative;
    z-index: 1;
    border: none;
}
.status{position: relative;cursor: pointer;}
.status_dropdown{
    position: absolute;
    left: 0;
    z-index: 3;
    top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 100%;
    overflow: hidden;
    transition: all 500ms;
    background-color: #fff;
}
.status_dropdown_content{
    background-color: #fff;
    margin: 20px 10px;
}
.status_dropdown span{
    display: block;
}
#Done{
    background-color: #90ee9058;
    color: green;
}
#ToDo{
    background-color: #f9bfbf85;
    color: red;
}
#InProgress{
    background-color: var(--light-background-color);
    color: var(--blue-color);
    
}
.col_name{
    background-color: var(--light-background-color);
}
.more{width: 4%;}
.more-col{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.table-task{
    font-size: var(--subheader-font-size);
    color: #aaa;
}
.task-title{
    text-align: center;
    position: relative;
}
.task-title i{
    font-size: 20px;
    margin-right:15px;
    position: absolute;
    left: 20px;
    top: 10px;
    cursor: pointer;
}

.edit_task_box, .add-table-column{
    position: absolute;
    z-index: 3;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all 500ms;
    overflow: hidden;
    transition: all 2s;
}
.edit_task_box{
    left: -160px;
    width: 150px;
}
 .add-table-column{
    right: 0;
    top: 40px;
    width: 230px;
 }
 .add-table-column h6{
    font-size: 13px;
    font-weight: 400;
    color: var(--title-color);
    margin: 25px 25px 25px 15px;
 }
.edit_task_box p, .add-table-column p{cursor: pointer; margin: 15px 25px;}
.edit_task_box span,  .add-table-column span{
    font-size: 13px;
    color: #bbb;
}
.edit_task_box i,  .add-table-column i{
    color: var(--blue-color);
    margin-right: 10px;
}
.box-arrow{
    position: absolute;
    background-color: #fff;
    height: 20px;
    width: 20px;
    top: 4px;
    right: -11px;
    transform: rotate(45deg);
}
.comment_wrapper{
    position: absolute;
    width: 50%;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px 0 40px 0;
    font-family: "Roboto", sans-serif;
    z-index: 7;
    display: none;
    right: -2px;
}
.comment_wrapper .lni-close{
    position: absolute;
    right: 25px;
    top: 25px;
    cursor: pointer;
}
#comment_section_title{
    font-size: 16px;
    border-bottom: 1px solid #eee;
    padding: 0 60px 20px 60px;
    font-weight: var(--header-font-weight);
}
.comment-section{
    margin: 0 60px;
}
.comment-section form{
    border: var(--box-border);
    width: 100%;
    border-radius:10px;
}
.comment-section textarea{
    margin: 25px;
    width: 93%;
    border: none;
}
.comment-section textarea::placeholder{
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    color: #aaa;
    font-weight: 300;
}
.comment-buttons{
    border-top: var(--box-border);
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.letter_buttons span{
    margin-right: 10px;
    color: var(--subheader-font-size);
    cursor: pointer;
}
.letter_buttons span:first-child{
    font-weight: 600;
}
.letter_buttons span:last-child{
    text-decoration: underline;
}
.comment-buttons  button{
    padding: 8px 8px;
    width: 140px;
    border-radius: var(--round-border-radius);
    border: none;
    background-color: var(--darkblue-background-color);
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}
.comment-buttons  button i{margin-right: 10px;}
.comment_details{
    display: flex;
    margin-top: 20px;
}
#user_letter{
    background-color: var(--light-background-color);
    padding: 6px 12px;
    border-radius: 100%;
    font-size: 18px;
    color: var(--blue-color);
    margin-right: 20px;
    position: relative;
    z-index: 1;
}
#user_name{
    font-size: 14px;
    color: var(--title-color);
    display: block;
    margin-top: -5px;
}
#comment_time{font-size: var(--subtitle-font-size); color: #bbb;}
.user_massage{
    position: relative;
}
.user_massage:before{
    position: absolute;
    content: "";
    height: 95%;
    width: 1px;
    top: 20px;
    background-color: var(--light-color);
    left: -40px;
}
.user_massage p{
    font-size: 12px;
    color: #aaa;
    line-height: 25px;
    width: 95%;
}