.project-section{
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    margin-top: 1rem;
    padding-top: 5px;
    height: 100%;
}
.page-section-header{
    font-size: var(--page-font-size);
    font-weight: var(--header-font-weight);
    color:var(--title-color);
    text-transform: capitalize;
    margin-bottom: 1.3rem;
}
.filter_project_section{
    margin-bottom: 1rem;
}
.project_filter_row{
    width: 100%;
    border-top: var(--box-border);
    border-bottom: var(--box-border);
    align-items: center;
    justify-content: space-between;
}
.table-filters .page-row{
    align-items: center;
    padding: 9px;
}
.table_filter_col{
    display: flex;
    padding: 0 20px;
    align-items: center;
    border-right: var(--box-border);
    color: #aaa;
    height: 30px;
}
.table_filter_col:first-child{
    padding-left: 0;
}
.table_filter_col:last-child{
    border-right: 0;
}
.table-filters form{
    position: relative;
}
.table-filters form i{
    position: absolute;
    top: 7;
    font-size: 15px;
    left: 10px;
}
.table-filters form input{
    padding:8px 6px 6px 35px;
    font-size: var(--subheader-font-size);
    width: 80px;
    border: none;
}
.table_filter_col i{
    font-size: 15px;
}
.table_filter_col p{
    font-size: var(--subheader-font-size);
    margin-left: 10px;
}
.peron_filter{
    position: relative;
    cursor: pointer;
}
.person_filter_box{
    position: absolute;
    transition: all 500ms;
    top: 40px;
    left: 0;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 250px;
    z-index: 3;
    overflow: hidden;   
}
.filter_person_wrapper{
    padding: 10px 20px;
}
.person_filter_box h6{
    color: var(--subheader-font-size);
    font-weight: var(--header-font-weight);
    font-size: var(--subheader-font-size);
    margin-bottom: 15px;
}
.person_filter_box p{
    cursor: pointer;
    margin-left: 0;
    font-size: 12px;
    color: #aaa;
}
.project_members span{
    border-radius: 100%;
    padding:8px 12px;
    font-size: 13px;
    text-transform: uppercase;
    color: var(--blue-color);
    border: 2px solid #fff;
    background-color: var(--light-background-color);
    margin-left: -8px;
}
.project_members span:first-child{
    margin-left: 0;
}
.member_letter{
    position: relative;
    z-index: 2;
}
.project_create_table_invite{
    display: flex;
    align-items: center;
    color: #fff;
}
.project_create_table_invite i{margin-right: 5px;}
.invite_btn{
    margin-left: 10px;
    position: relative;
}
.invite_btn p{
    display: flex;
    align-items: center;
    color: #bbb;
    font-size: var(--subheader-font-size);
    align-items: center;
    cursor: pointer;
}
.invite_btn i{
    color: #bbb;
    margin-left: 3px;
    font-size: 16px;
}
.invite_members{
    position: absolute;
    transition: all 500ms;
    right: 0;
    width:300px;
    top: 45px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 6;
    background-color: #fff;
    overflow: hidden;

}
.member_invite_wrapper{
    padding: 20px;
}
.invite_members h5, .invite_members h6{
    font-size: 14px;
    font-weight: var(--header-font-weight);
    color: var(--title-color);
    margin-bottom: 1rem;
}
.invite_members h6{
    font-size: 12px;
    margin-bottom: 10px;
}
.invite_members p{
    font-size: 12px;
}
.invite_members input[type=text]{
    width: 70%;
    padding: 8px 8px;
    border: var(--box-border);
    font-size: 12px;

}
.invite_members input[type=text]::placeholder{
    color: #ddd;
}
.invite_members input[type=submit]{
    width: 24%;
    padding:9px 8px;
    color: var(--blue-color);
    border: none;
    text-transform: capitalize;
    background-color: var(--light-background-color);
}
.project_create_table_invite button{
    padding: 8px 8px;
    width: 140px;
    border-radius: var(--round-border-radius);
    border: none;
    margin-left: 30px;
    background-color: var(--darkblue-background-color);
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}
.project_invite button:hover{
    background-color: inherit;
    border: 1px solid var(--blue-color);
    color: var(--blue-color);
}
.project_invite button i{
    margin-right: 6px;
    font-size: 16px;
}
.edit-table{
    display: flex;
    align-items: center;
    position: relative;
}
#table_title{
    font-size: 14px;
    color: var(--title-color);
    font-weight: var(--header-font-weight);
    text-transform: capitalize;
}
.edit-table .lni-chevron-down{
    margin-left: 15px;
    color: #aaa;
    cursor: pointer;
    padding:3px 4px;
} 
.edit-table-hidden-box{
    position: absolute;
    top: 4rem;
    left: 0;
    z-index: 4;
    overflow: hidden;
    transition: all 500ms;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.edit_table_icon{
    padding:15px 20px 0 20px;
    cursor: pointer;
}
.edit_table_icon i{margin-right: 10px;}
.edit_table_icon i,.edit_table_icon span{
    font-size: var(--subheader-font-size);
    color: #aaa;
}
.project_table{
    width: 100%;
    border: var(--box-border);
    border-radius: 10px;
    border-top: 0;
}
.project_table .page-row{
    justify-content: space-between;
    border-top: var(--box-border);
}
.col_name_row{
    position: relative;
    border-radius: 10px;
}

.field_name{
    text-align: center;
    width: 16%;
    font-size: 14px;
    font-weight: var(--header-font-weight);
    color: var(--title-color);
    border-right: var(--box-border);
    text-transform: capitalize;
    line-height: 40px;
    padding: 0 15px;
}
.col-description{
    width: 20%;
}
.field_name input{
    width: 100%;
    position: relative;
    z-index: 1;
    border: none;
    color: #444;
}
.row_description{
    display: flex;
    align-items: center;
    padding: none;
    width: 20%;
    position: relative;
}
.row_description::after{
    content: "";
    position: absolute;
    width:0.5px;
    background-color: #ccc;
    height: 100%;
    right: 40px;
    top:0
}
.row_description i{
    padding-left: 10px;
    margin-left: 10px;
    color: #444;
    cursor: pointer;
}
.assignee .task_assign_letter{
    border-radius: 100%;
    height: 25px;
    width: 25px;
    font-size: 12px;
    line-height: 25px;
    text-transform: uppercase;
    display: inline-block;
    color: var(--blue-color);
    border: 2px solid #fff;
    background-color: var(--light-background-color);
    margin-left: -8px;
}
.assignee{
    display: flex;
    align-items: center;
    justify-content: center;
}
.assignee .task_assign_letter:first-child{margin-left: 0;}
.assignee span{margin-right: 4px;} 
.assignee i{
    font-size: 13px;
    color: var(--blue-color);
    cursor: pointer;
}
.status{position: relative;cursor: pointer;}
.status_dropdown{
    position: absolute;
    left: 0;
    z-index: 3;
    top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 100%;
    overflow: hidden;
    transition: all 500ms;
    background-color: #fff;
}
.status_dropdown_content{
    background-color: #fff;
    margin: 20px 10px;
}
.status_dropdown span{
    display: block;
}
#Done{
    background-color: #90ee9058;
    color: green;
}
#ToDo{
    background-color: #f9bfbf85;
    color: red;
}
#InProgress{
    background-color: var(--light-background-color);
    color: var(--blue-color);
    
}
.col_name{
    background-color: var(--light-background-color);
}
.more{width: 4%;}
.more-col{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.table-task{
    font-size: var(--subheader-font-size);
    color: #444;
}
.table-task input:focus{border: 0;}
.task-title{
    text-align: center;
    position: relative;
}
.task-title i{
    font-size: 20px;
    margin-right:15px;
    position: absolute;
    left: 20px;
    top: 10px;
    cursor: pointer;
}
.task-title input{
    margin-left: 35px;
    width: 70%;
}
.edit_task_box, .add-table-column{
    position: absolute;
    z-index: 10;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow: hidden;
    transition: all 500ms;
}
.edit_task_box{
    left: -100px;
    width: 150px;
}
 .add-table-column{
    right: 0;
    top: 45px;
    width: 230px;
 }
 .add-table-column h6{
    font-size: 13px;
    font-weight: 400;
    color: var(--title-color);
    margin: 25px 25px 25px 15px;
 }
.edit_task_box p, .add-table-column p{cursor: pointer; margin: 15px 25px;}
.edit_task_box span,  .add-table-column span{
    font-size: 13px;
    color: #bbb;
}
.edit_task_box i,  .add-table-column i{
    color: var(--blue-color);
    margin-right: 10px;
}
.box-arrow{
    position: absolute;
    background-color: #fff;
    height: 20px;
    width: 20px;
    top: 4px;
    right: -11px;
    transform: rotate(45deg);
}
